*{
    box-sizing: border-box;
}

#content_block{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.message_field{
    font-size: 17px;
    padding: 15px;
    padding-top: 0px;
    
    border-radius: 20px;
    background-color: var(--clr-blocks-back-color); 
    border: 2px solid #35443b;
    transition: all 0.5s;
}
#text_field{
    background-color: var(--clr-blocks-back-color); 
    border: 2px solid var(--clr-block-border);
    border-radius: 40px;

    transition: all 0.5s;

    display: grid;
    grid-template-columns: 1fr 0.1fr;
    width: 100%;
}
#chat{
    overflow: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

input{
    max-width: none;
    border-radius: 40px;
}
button{
    height: 50px;
}