#content_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

button{
    height: 50px;
}

#results{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 100%;
}

#input_block{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
}

#statistic{
    grid-column: span 9;
    grid-row: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
}

#sigma1{
    background-color: #797979;
}
#sigma2{
    background-color: #646464;
}
#sigma3{
    background-color: #494949;
}