
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --clr-neon: rgb(102, 252, 139); /* неоновый цвет для кнопки*/
  --clr-body-bg: rgb(25, 30, 37);   /* фоновый цвет боди*/
  --clr-blocks-back-color: rgb(35, 41, 51); /* фоновый цвет блоков*/
  --clr-block-border: #35443b; /* цвет рамки блока*/
  --clr-block-border-hover: #11A457; /* цвет рамки при наведении на блок*/
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    height: 100vh;
    border: 2px solid transparent;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
    background-color: var(--clr-body-bg); 
    color: var(--clr-neon);
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

/*Main*/
main{
    width: 100%;
    height: 85%;

    display: inline-grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 10fr 4fr;
}

/* Main content block*/
#content_block{
    overflow: auto;
}

/* Блок справа*/
#aside_right{
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
/* БЛОК СЛЕВА*/
#aside_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#profile_block{
    min-width: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

/* дизайн всех внутренних блоков*/ 
#content_block, #aside_right, #profile_block, input, .random_block
{
    background-color: var(--clr-blocks-back-color); 
    border: 2px solid var(--clr-block-border);
    border-radius: 40px;

    text-decoration: none;
    transition: all 0.5s;
}
#content_block:hover, #aside_right:hover, #profile_block:hover, .random_block:hover, #logo:hover
{
    border: 2px solid var(--clr-block-border-hover);  
}
#profile_block{
    padding: 15px;
}

/*Дизайн текста*/ 
a{
    color: rgb(169, 238, 186);
}
p::selection, h2::selection, h1::selection, li::selection, span::selection,a:hover, input::selection{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px var(--clr-neon), 0 0 5px var(--clr-neon);
}

/* HEADER FOOTER*/
header{
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid var(--clr-block-border);
    font-size: 35px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all 0.5s;
    margin-bottom: 20px;
}
header:hover{
    border-bottom: 3px solid #11A457;
}

/*Header content blocks*/
.header_fill_block{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* BUTTONS*/
button{
    cursor: pointer;
    background-color: transparent;

    text-decoration: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    color: var(--clr-neon);
    font-size: 20px;

    border: var(--clr-neon) 0.125em solid;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    border-radius: 0.25em;

    height: 100%;
    padding: 8px 15px;

    transition: all 0.5s;
}
button:hover{
    color: var(--clr-blocks-back-color);
    text-shadow: none;

    background-color: var(--clr-neon);
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
}

/* Inputbox*/
input{
    box-shadow: 0px 5px 10px 2px var(--clr-neon);
    border-radius: 10px;

    font-size: 20px;
    color: var(--clr-neon);
    outline: none;
    text-align: center;
    box-decoration-break: unset;

    height: 50px;
    max-width: 100px;
}

/* Блок с картинкой кота в шапке */
#cat{
    background: url(/img/logo/cat.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 120px;
    height: 200px;
    transition: all 0.5s;
}
#cat:hover{
    background: url(/img/logo/cat_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
}


/* Блок с аватаркой пользователя */
#user_image{
    width: 80px;
    height: 80px;

    background-size: cover;
    background-repeat: no-repeat;

    transition: all 0.5s;
}

/* Блоки справа*/
.random_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Скрол */
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid #35443b;
  }

/* ЛОГОТИП в ХИДЕРЕ*/
#logo{
    display: flex;
    padding: 5px;
    transition: all 0.5s;
    border: 2px solid var(--clr-block-border);
}
#logo_left{
    color: var(--clr-blocks-back-color);
    background-color: var(--clr-neon);
}